/* Garante que o body ocupe toda a tela */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

/* Lado esquerdo - Login */
.lado-login {
    flex: 1;
    display: flex;
    justify-content: center;
    /* centraliza horizontal */
    align-items: center;
    /* centraliza vertical */
    background-color: #f5f5f5;
}

/* Lado direito - Imagem */
.lado-imagem {
    flex: 1;
    overflow: hidden;
}

.lado-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* PERSONALZIAÇÕES DO LOGIN */

/* Caixa do login/CEP */
.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Input */
.login-box input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #6200ea;
    font-size: 16px;

    display: inline-flex;
    margin-left: -35px;
    /* ajuste horizontal */
    margin-top: -10px;
    /* ajuste vertical */
}

/* Botão */
.login-box .btn {
    background-color: #6200ea;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    display: inline-flex;
    margin-left: -35px;
    /* ajuste horizontal */
    margin-top: -10px;
    /* ajuste vertical */
}

.login-box .btn i.material-icons {
    margin-right: 5px;

}

/* Lista de resultados */
.collection-item {
    text-align: left;
    font-weight: bold;
    margin-top: 15px;
    margin-left: -15px;
    
}

/* Resultados da busca do CEP */
.collection-item span {
    display: inline-block;             /* permite aplicar a borda certinho */
    font-weight: bold;                 /* deixa em negrito */
    border-bottom: 2px solid #6200ea;  /* linha embaixo do dado */
    padding-bottom: 2px;               /* afastamento entre texto e linha */
    margin-left: 5px;                  /* dá um espacinho após o título (RUA:, etc) */
}